.card {
    margin: $margin 0;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    border: 1px solid #ccc;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    @include media-query($on-laptop) {
        width: $card-width-desktop;
        margin: $margin; //add horizontal margin when on desktop
    }

    &:hover {
        text-decoration: none;
    }

    .card-img-wrap {
        display: block;

        img {
            margin: $margin;
            height: $card-img-height;
        }
    }

    .card-content {
        font-size: 0.6em;
        border-top: 1px solid #ccc;
        padding: $margin;
        background-color: $off-white;
        color: black;

        p {
            font-size: $card-p-size;
        }

        time {
            font-size: $card-p-size + 0.05em; //slightly bigger than text's 1em
        }
    }
    /* whenever the entire card is hovered over */
    &:hover {
        .card-content {
            margin-bottom: none;
            background-color: white;
        }
    }
}
