body,
html {
    margin-bottom: $footer-height;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: $footer-height;
    width: 100%;
    border-top: 1px solid black; //$grey-color-light;

    .sides-flex {
        width: 200px;
    }
}
