navbar {
    position: relative;
    display: block;
    padding: $navbar-padding;
    box-sizing: border-box; //subtracts padding from width
    border-bottom: 1px solid $grey-color-light;
    width: 100%;

    a {
        //need class for higher specificity
        display: block;
        text-align: center;
        margin: 0 auto;
    }
    @include media-query($on-laptop) {
        a {
            display: inline-block;
        }
    }
}
