article {
    text-align: left;

    p {
        //markdown will force images to be nested in a 'p' element
        img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            border: 2px solid #ccc;
            border-radius: 5px;
        }
    }
}

aside {
    text-align: center;
}

.introduction {
    font-size: 1.2em;
}

.caps {
    font-size: 2em;
    padding: 0 0.25em;
    color: $link-color;
    float: left;
    @extend .clearfix;
}

.quick-actions {
    a {
        height: $icon-len;
        width: $icon-len;
        display: inline-block;
        text-decoration: none;
        padding: $icon-len / 3;
        background-color: white;
        border-radius: 50%;

        &:hover {
            background-color: #ccc;
        }

        img {
            display: inline-block;
            height: $icon-len;
            width: $icon-len;
        }
    }
}

.article-header {
    padding: 10em 0;
    margin-bottom: $margin;

    p {
        font-size: 1.15em;
    }

    .dotted_link,
    h1 {
        color: inherit;
        width: $wrap-width-mobile;
        margin: 0 auto;
        @include media-query($on-laptop) {
            width: $wrap-width-mobile + 5%;
        }
    }
}

.article-links {
    text-decoration: none;
    border: 1px solid black;

    .link-section {
        vertical-align: top;
        margin-bottom: $margin;
        @include media-query($on-laptop) {
            width: 31%;
            display: inline-block;
        }
    }
}
