article {
    text-align: left;
    max-width: $width-max;
    margin: 0 auto;

    iframe {
        margin: $margin auto;
        display: block;
        max-width: 100%;
    }

    p {
        //markdown will force images to be nested in a 'p' element
        img {
            @extend .article-img;
            border: 2px solid #ccc;
            border-radius: 5px;
            padding: $margin/2;
            box-shadow: $shadow-light;
        }
    }
}

.article-img {
    display: block;
    margin: $margin auto;
    width: 100%;
    max-width: 450px;
    max-height: 256px;
    box-sizing: border-box;
}

aside {
    text-align: center;
}

.caps {
    font-size: 2em;
    padding: 0 0.25em;
    color: $link-color;
    float: left;
    @extend .clearfix;
}

.quick-actions {
    a {
        height: $small-icon-len;
        width: $small-icon-len;
        display: inline-block;
        text-decoration: none;
        padding: $small-icon-len / 3;
        background-color: white;
        border-radius: 50%;

        &:hover {
            background-color: #ccc;
        }

        img {
            display: inline-block;
            height: $small-icon-len;
            width: $small-icon-len;
        }
    }
}

.article-header {
    padding: $article-header-padding 0;
    margin-bottom: $margin;

    p {
        font-size: 1.15em;
    }

    .dotted_link,
    h1 {
        color: inherit;
        width: $wrap-width-mobile;
        margin: 0 auto;
        @include media-query($on-laptop) {
            width: $wrap-width-mobile + 5%;
        }
    }
}

.article-links {
    text-decoration: none;
    border: 1px solid black;

    .link-section {
        vertical-align: top;
        margin-bottom: $margin;
        @include media-query($on-laptop) {
            width: 31%;
            display: inline-block;
        }
    }
}
