/* Position the image container (needed to position the left and right arrows) */
.slideshow-container {
    position: relative;
    
    /* Hide the images by default */
    .mySlides {
      display: none;
      box-shadow: 0px 2px 1px 0px;
      
      img{ display:block;}
    }
  
    /* Add a pointer when hovering over the thumbnail images */
    .cursor {
      cursor: pointer;
    }
  
    /* Next & previous buttons */
    .prev,
    .next {
      text-decoration: none;
      cursor: pointer;
      position: absolute;
      top: 40%;
      width: auto;
      padding: 16px;
      margin-top: -50px;
      color: white;
      font-weight: bold;
      font-size: 20px;
      border-radius: 0 3px 3px 0;
      user-select: none;
      -webkit-user-select: none;
    }
  
    /* Position the "next button" to the right */
    .next {
      right: 0;
      transform: translate(0,50%);
      border-radius: 3px 0 0 3px;
    }
    .prev{
      transform: translate(0,50%);
      left:0;
    }
  
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
  
    /* Number text (1/3 etc) */
    .numbertext {
      color: #f2f2f2;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
    }
  
    /* Container for image text */
    .caption-container {
      text-align: center;
      background-color: #222;
      padding: 2px 16px;
      color: white;
      position: relative;
    }
  
    .row{
      overflow-x: auto;
      overflow-y: hidden;
      margin:10px;
      img{ height:30px; box-shadow: 2px 2px 1px 1px;}
    }
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
  
    /* Six columns side by side */
    .column {
      float: left;
      width: 16.66%;
      margin:2px;
    }
  
    /* Add a transparency effect for thumnbail images */
    .demo {
      opacity: 0.6;

    }
  
    .active,
    .demo:hover {
      opacity: 1;
    }
  }
  