@charset "utf-8";
@import "normalize"; //Define variables, mixins, etc for scss files
$icon-len: 1.5em;
$small-icon-len: 1em;
$navbar-padding: 1em;
$navbar-height-normal: 4.1em; //found by inspecting the navbar to find the bottom
$navbar-height-palm: 10.95em;
$link-height: 1em + 0.4em * 2;
$footer-padding: 1em;
$footer-img-len: 1.25em;
$a-padding: 0.4em;
$on-laptop: 800px;
$on-desktop: 1200px;
@mixin media-query($device) {
     @media screen and (min-width: $device){
        @content;
    }
}
@import "colors","global","posts","footer","navbar";
