@charset "utf-8";
@import "normalize"; //Define variables, mixins, etc for scss files
$icon-len: 2em;
$small-icon-len: 1em;
$navbar-padding: 1em;
$navbar-height-normal:4.1em; //found by inspecting the navbar to find the bottom
$navbar-height-palm:10.95em;
$link-height: 1em + 0.4em * 2;
$a-padding: .4em;
$grey-color: #828282;
$grey-color-light: lighten($grey-color, 35%);
$grey-color-dark: darken($grey-color, 15%);
$on-palm: 600px;
$on-laptop: 800px; // Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
     @media screen and (max-width: $device){
        @content;
    }
}
@import "global";
