@charset "utf-8";
@import "normalize";

$icon-len:    2em;
$small-icon-len:    1em;

body {
  background: #ECC561;
  text-align: center;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: 300;
}

h1 {
  color: rgba(0,0,0,0.5);
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.8em;
  font-weight: 400;
  margin: 0;
}

.icon{
  height: $icon-len;
  width: $icon-len;
}

.small-icon{
  height: $small-icon-len;
  width: $small-icon-len;
}

.index{
  width:100%;
  font-size: 1.1em;

  h1 {
    font-size: 5em;
  }

  .row{
    width:100%;
    margin: 6em 0;
  }
  .meta{
    width: 50%;
    margin:0 auto;
    text-align: left;
  }

  .welcome{
    width:100%;
    text-shadow: 0px 0px 10px #888888;
  }

  a {
    border: 1px solid white;
    display:inline-block;
    border-radius: 3px;
    padding: 0.4em 0.35em;
    color: white;
    text-decoration: none;
    transition: color 0.1s linear;
    &:hover {
      background: rgba(0,0,0,0.2);
      color: white;
      transition: all 0.15s linear;
    }
  }
}

.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s;
}

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}
