@charset "utf-8";
@import "normalize";

//Define variables, mixins, etc for scss files
$icon-len:    2em;
$small-icon-len:    1em;

$on-palm:          600px;
$on-laptop:        800px;


// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@import "global";
