
<% content_for :head do
  #pass content to head in parent layout
  javascript_include_tag :posts
end %>

<% wrap_layout :layout do %>
    <%= partial "partials/article_header.erb" %>

    <div class="wrap">
      <article>

        <%= capitalize(yield) %>

        <%= current_article %>

        <%= partial "partials/comments.erb" %>
      </article>

    </div>
<% end %>
