
<% content_for :head do
  #pass content to head in parent layout
  javascript_include_tag :posts
end %>

<% wrap_layout :layout do %>
    <%= partial "partials/article_header.erb" %>

    <div class="wrap">
      <article id="main" role="main">
        
        <%= yield %>

        <%= partial "partials/comments.erb" %>
      </article>

    </div>
<% end %>
