<div class="quick-actions">
  <%= img_link "UI/collapse.png","Collapse",  "", "", "", "_self", "collapse-all-btn" %>
  <%= img_link "UI/code.png","Code",          "", "", "", "_self","collapse-p-btn" %>
</div>
