<footer>
  <div class="wrap">
    <div class="flex_row">
      <!-- Left -->
      <span class="sides-flex"></span>

      <!-- Middle -->
      <span class="">
        James Lowrey
        <br/>
        Updated <%=  File.mtime(current_page.source_file).strftime("%B %e, %Y") %> <!-- Right way? -->
      </br/></span>

      <!-- Right -->
      <span class="sides-flex">
        <%= link_to("Source", data.projects.blog.repo_url) %>
      </span>
    </div>
  </div>
</footer>
