<footer>
  <div class="wrap">
    <div class="flex_row">
      <!-- Left -->
      <span class=""></span>

      <!-- Middle -->
      <span class="">
        Written by James Lowrey
      </span>

      <!-- Right -->
      <span class="">
        <%= link_to("Source", data.projects.blog.repo_url) %>
      </span>
    </div>
  </div>
</footer>
