<footer>
    <div class="wrap flex_row">
      <!-- Left -->
      <span class="sides footer-links">
        <%= img_links_from_hash(data.about_me.social) %>
      </span>

      <!-- Middle -->
      <span class="">
        Updated <%=  File.mtime(current_page.source_file).strftime("%B %e, %Y") %> <!-- Right way? -->
      </span>

      <!-- Right -->
      <span class="sides" style="text-align:right;">
        <%= link_to "Source", data.projects.blog.repo_url, :target => "_blank" %>
      </span>
    </div>
</footer>
