<footer>
    <div class="wrap flex_row">
      <!-- Left -->
      <span class="sides footer-links">
        <%= img_links_from_hash(data.about_me.social) %>
      </span>

      <!-- Middle -->
      <span class="">
      </span>

      <!-- Right -->
      <span class="sides" style="text-align:right;">
        <%= link_to "Source", "https://github.com/JarLowrey/Portfolio", :target => "_blank" %>
        </br>
      </span>
    </div>
</footer>
