
<div class="introduction">
<%=
#I decided to export this small snippet of code to its own partial because it was the simplest way I could think of to get the markdown to render
#properly in the places it's consumed (blog_layout)
if current_article.data.introduction
current_article.data.introduction
end
%>
</div>
