<navbar>
    <div class="wrap flex_row">
    <!-- Left -->
    <span class="sides footer-links">
      <%= link_to "JTronLabs", "/" %>
    </span>

    <!-- Middle -->
    <span class=""></span>

    <!-- Right -->
    <span class="sides">
      <%= link_to("About Me", "/about.html") %>
    </span>
  </div>
</navbar>
