<% if current_article.tags and current_article.tags.length > 0 then%>

  <%
    tag_links="" #all the tag links with size > 1
    current_article.tags.each do |tag|
      articles = blog.tags[tag]
      if articles.size > 1 then #if only 1 article is in the tag, it is the current article
        tag_links += link_to "#{tag} (#{articles.size - 1})", tag_path(tag)
      end
    end
  %>

  <% if tag_links != "" then %>

<div class="article-tags">
  <span>Similar Articles: </span><%= tag_links %>
</div>

  <% end %>
<% end %>
