---
id: "post_5"
published: false
title:  "Creating Birdu Part 3: Making a State"
blurb: "Getting started with Phaser."
header: { img_url: "tech/phaser-logo.svg" }
author: James Lowrey
tags: Birdu,Phaser,HTML5,Javascript
---

[<span class="caps">S</span>o far we've covered the tech stack behind the Birdu game, and how to get a new Phaser project started using an automatic generator.
Now, we'll jump into the weeds of game creation.
Here we'll get started on the game: showing stuff on screen, making a new state, debugging JS, and more.

Please note, this tutorial aims to outline the main development processes involved, but maybe not every nitty-gritty detail.
The final product will be slightly different than the Birdu game that is available online, if you want to know how to implement it exactly you should checkout its [code](https://github.com/JTronLabs/Birdu).

<%= partial "partials/article_links.erb", locals: {
    resources: "
- [Birdu Repo](https://github.com/JTronLabs/Birdu)
- [Birdu on Google Play](https://play.google.com/store/apps/details?id=com.jtronlabs.birdu)
- [Phaser Repo](https://github.com/photonstorm/phaser)
- [Phaser Docs](https://phaser.io/docs/)
- [Phaser Plus Docs](https://github.com/rblopes/generator-phaser-plus/blob/master/docs/index.md)
- [Phaser 2.0 Tutorial - Flappy Bird](http://www.codevinsky.com/phaser-2-0-tutorial-flappy-bird-part-1/)
",
    software_versions: "
- [Ubuntu 16.04 LTS](http://www.ubuntu.com/download)
- [Phaser.js 2.6.2](http://phaser.io/docs/2.6.2/index)
- [Cordova 6.4.0](https://cordova.apache.org/docs/en/latest/)
- [Node 4.2.6](https://nodejs.org/en/)
- [NPM 3.5.2](https://www.npmjs.com/)
- [Generator Phaser Plus 1.1.0](https://github.com/rblopes/generator-phaser-plus)
"
  } %>

##Preload/get something running

whatis preloading, current generator's preload vs Birdu's, boot>preload>menu state transitions, preload ending conditional check?,

sidenote = Assets: dimensions/sizing, texture atlas, sound types

##debugging!

code/low level = JS - view source (F12), console printing, debugger command, insert breakpoints in code, stepping thru code

Game/medium level = Phaser Debug util library

environment = high/user level = BrowserSync

##Making a State

generate, how to access assets, logo object, positioning, state transitions

##Starting the game

adding main player, physics, controls, collisions?,

Next article
