---
published: false
title:  "Starting Your Personal Online Brand"
blurb: ""
author: James Lowrey
tags: Blog,Marketing,Wordpress,Ghost,Medium,indiedev
---

Your [digital footprint](https://en.wikipedia.org/wiki/Digital_footprint) is the trail you leave behind when navigating through the internet.
For most people this consists of social media and random company data collection.
If you want to create a personal brand it takes a lot more care and effort.
Depending on your goals, your online brand can help land jobs, make money, help others, or simply be an exercise in self-improvement.


<%= partial "partials/article_links.erb", locals: {
    resources: "
"
  } %>

##What is a Personal Brand

Literally speaking, it is your blog/personal website, social media, product pages, emails and other other online presence.
More generally, it is what people think of when they hear your name or your business' name, ie its reputation.

<span class="caps">C</span>reating a personal blog is all the rage, and has been since the [mid 2000s](http://www.webdesignerdepot.com/2011/03/a-brief-history-of-blogging/).
Blogging/personal websites and social media curation are integral to managing an online identify.

Despite a seemingly saturated market, more blogging and social media sites are continually rising up and settling into their respective niches.
In this article we'll cover how to decide if you need an online brand and how to navigate the application landscape to get started.

##Why Bother

###Monetization

Most people enter into blogging and other online endeavors hoping to make an income (like me).
Most do not (like me).
