<navbar>
  <span class="left">
  <%= link_to( image_tag("jtronlabs-logo.svg", :class => "left", :alt => "Logo"), "#") %>
</span>
<span class="right">
  <%= link_to("Discovering", "#discovery") %>
  <%= link_to("Skills", "#skills") %>
  <%= link_to("Projects", "#projects") %>
</span>
</navbar>
