
<div class="row">

<p>
  Hey, I'm James. I like to make games, websites, and AI applications. Welcome! <br/>
  You can see my contact options at the bottom of the page, or shoot me an email: jtronlabs@gmail.com.
</p>

##Learning
<%= img_alts(data.about_me.learning) %>

<%= img_links(data.about_me.learning) %>

##Skills
<%= img_alts(data.about_me.skills) %>

<%= img_links(data.about_me.skills) %>

</div>
