<div class="wrap">
<div class="centered">

Hey

I'm James.

Welcome!

I'm a developer. I make games, websites and AI.

I hope you find my site useful. If you'd like to chat, please shoot me an email me - [jtronlabs@gmail.com](mailto:jtronlabs@gmail.com)

</div>


###About

Starting January 2016 I am studying AI at [GT's OMSCS program](https://www.omscs.gatech.edu/).
Awhile ago I studied Computer Science Engineering at [OSU](https://www.osu.edu/).
During college I interned at [Baker Hughes](https://www.bakerhughes.com/) and [NetApp](http://www.netapp.com/us/index.aspx),
and recently was working for [Epic](http://www.epic.com/).
Now I am trying to branch out on my own by seeing what cool stuff I can create, <a class="open-mailchimp-subscribe-popup">stay tuned!</a>


<!--
###Learning
<%= img_alts(data.about_me.learning) %>

<%= img_links(data.about_me.learning) %>

###Skills
<%= img_alts(data.about_me.skills) %>

<%= img_links(data.about_me.skills) %>
-->

 </div>
