
<div class="welcome">

<div class="row">
##Learning
<%= img_links(data.about_me.learning) %>
</div>



<div class="row">
##Skills
<%= img_links(data.about_me.skills) %>
</div>

Contact: jtronlabs@gmail.com

All other forms of contact can be found in the site's footer: LinkedIn, GitHub, GitLab, Reddit, etc


</div>
